*.xdf
pose_iter_XXXXXX.caffemodel
demo_3Dtracking_pose2sim-main/openpose/bin
Scripts/XDF_PROCESSING/data_processed
2_PREPROCESSING/XDF_PROCESSING/data_processed
*.avi
/.ipynb_checkpoints
*.mp3
*.avi
*.mp4

*.wav
*.ddl

/3a_MT_OpenPose_pose2sim_alternative/openpose/bin
/3a_MT_OpenPose_pose2sim_alternative/openpose
/3a_MT_OpenPose_pose2sim_alternative/projectdata/T1_P1/p1data/opensim
/3a_MT_OpenPose_pose2sim_alternative/projectdata/T1_P2/p2data/opensim

/.quarto/
